@CHARSET "UTF-8";

/*--------------------------------FUENTES internas--------------------*/
@font-face {font-family:lobster;
src: url(../TTF/Lobster.ttf) format("opentype");}
@font-face {font-family:fairydust;
src: url(../TTF/Fairydust.ttf) format("opentype");}
@font-face {font-family:orial_bold;
src: url(../TTF/Orial_bold.otf) format("opentype");}
@font-face {font-family:makejuice;
src: url(../TTF/Makejuice.ttf) format("opentype");}

/*--------------------------------Estilos generales-------------------*/
body {
	margin:0px;
	padding:0px;
}

A {
	position: relative;
	margin: auto;
	font-size: 13;
	text-decoration: none;
	text-shadow: 3px 3px 3px black;
}

IMG {
	position: relative;
	margin: auto;
}

HEADER IMG {
	position: absolute;
	z-index: 51;
}

HEADER {

}

#cajamenusuperior {
	position: fixed;
	background-color: orange;
	width: 100%;
	z-index: 50;
}

#desplegarmenusuperior {
	position: absolute;
	height: 10px;
	width: 100%;
	z-index: 52;
	background-color: black;
}

#menusuperior {
	position: relative;
	margin: auto;
	width: 90%;

}

#menusuperior LI {
	position: relative;
	display: inline-block;
	margin: 2px 0px 2px 0px;
	padding: 1px 6px 1px 6px;
	font-style: oblique;
	color: dimgray;
	background-color: aliceblue;
	text-shadow: 3px 3px 3px black;
	text-align: center;
	align-content: center;
	border: 1px solid black;
	border-right: none;
	box-shadow: 10px 10px 35px black;
       -webkit-box-shadow: 10px 10px 35px black;
       -moz-box-shadow: 10px 10px 35px black;
       -o-box-shadow: 10px 10px 35px black;
       -ms-box-shadow: 10px 10px 35px black;
	cursor: pointer;
}


/*---------------------------Subir al comienzo de la página---*/
	#subir {
		position: fixed;
       width: 60px;
       height: 130px;
		bottom: 12px;
		right: 12px;
		padding: 5px;
		opacity: 0.4;
		cursor: pointer;
       background-image: url(../images/flecha.png);
       background-repeat: no-repeat;
       background-size: 100%;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
       -o-border-radius: 20px;
		-ms-border-radius: 20px;
		z-index: 20;
	}
	#subir:hover {
		opacity: 1;
		background-color: dodgerblue;
	}

*/

























