@CHARSET "UTF-8";

/*--------------------------------FUENTES internas--------------------*/
@font-face {font-family:lobster;
src: url(../TTF/Lobster.ttf) format("opentype");}

/*--------------------------------Estilos generales-------------------*/
	body {
		padding:0;
		margin:0;
		/* Gradiente de fondo generado por mi en: http://www.cssmatic.com/es/gradient-generator*/
		background-color: #0065a3;
		background: -moz-linear-gradient(top, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #000000), color-stop(74%, #00518f), color-stop(95%, #0065a3), color-stop(100%, #0065a3));
		background: -webkit-linear-gradient(top, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		background: -o-linear-gradient(top, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		background: -ms-linear-gradient(top, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		background: linear-gradient(to bottom, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0065a3', GradientType=0 );
		background-repeat: no-repeat;
	}
/*Caja general*/
	#cajageneral {
		position:relative;
		margin:0px;
		text-align:center;
		width:98%;
		height: 900px;
		background-color: transparent;
	}

/*-------------------------------Contenido/Visor de imágenes-------------*/
/*Contenido*/
	#contenido {
		position:relative;
		border: 7px groove white;
		text-align:center;
		top:50px;
		width:70%;
		height: 420px;
		margin:auto;
		/*background-image: url(./images/contenido.png);*/
		background-color:black;
		background-repeat: no-repeat;
		background-size: cover;
		z-index:8;
		box-shadow: 10px 10px 50px black;
		border-radius: 20px;
		}
	#centrodecontenido {
		position: relative;
		}
	#anticopy { /*Imagen sobrepuesta que ayuda con el aviso de que esta intentando copiar una imagen que no es para uso comercial*/
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		z-index: 30;
		opacity: 0;
		}

/*------------------------Barra de Menú Superior Fixed----------------*/
	#menufixed {/*Barra superior*/
		position: fixed;
		width: 100%;
		height: 40px;
		background-color: transparent;
		z-index: 40;
		}
	#cajamenufixed {
		position: absolute;
		width: 100%;
		height:40px;
		align-content: center;
		vertical-align: middle;
		background-color: black;
		}
	#centermenufixed {/*Caja para centrar contenido*/
		position: relative;
		width: 530px;
		height: 40px;
		align-content: center;
		margin:auto;
		background-color: transparent;
		margin: auto;
		}
	.todoslosmenus {/*Clase común para todos los menús*/
		position: relative;
		float: left;
		top:0px;
		margin-left: 5px;
		margin-right: 5px;
		background-color: transparent;
		padding-top: 5px;
		padding-bottom: 3px;
		padding-right: 7px;
		padding-left: 7px;
		color: azure;
		font-family: lobster;
		font-size: 22px;
		border-radius: 0px 0px 20px 20px
		}
	.todoslosmenus:hover {
		background-color: #00335A;
		color: coral;
		cursor: pointer;
	}
	#menualbums {
	}
	#menuvideos {
	}
	#menuwebsamigas {
	}
	#menuinfo {
	}

/*Parte desplegable de menu fixed superior*/
	.menusuperiorcaja1 {
		position: absolute;
		width: 200px;
		margin: 0px;
		height: 200px;
		left: -50px;
		background-color: transparent;
		display: none;
		border-radius: 0px 20px 20px 20px;
	}
	.menusuperiorcaja2 {
		position: absolute;
		margin: 0px;
		width: 25px;
		height: 20px;
		left: 76px;
		background-color: #00335A;
	}
	.menusuperiorcaja3 {
		position: absolute;
		width: 200px;
		top: 20px;
		margin: 0px;
		padding: 0px;
		background-color: #00335A;
		font-size: 16px;
		border-radius: 0px 20px 20px 20px;
		box-shadow: 5px 5px 10px black;
		text-shadow: 5px 5px 10px black;
	}
	.ulcomunlistas {
		margin: 13px;
		padding: 0px;
	}

	.lidesplegable { /*Listas del menu desplegable superior*/
		list-style: none;
		margin:0px;
		padding: 0px;
		background-color: #00335A;
		color: aliceblue;
	}
	.lidesplegable:hover{
		background-color: aliceblue;
		color: #00335A;
		text-decoration: none;
	}
	.linkmenusuperior{ /*Enlaces del menu desplegable superior*/
		color:inherit;
		text-decoration: none;
	}
	.linkmenusuperior:hover{
		color:inherit;

	}
/*-------------------------TÍTULO SUPERIOR y LOGOS--------------*/
	#cajatitulo {
		position:relative;
		margin:0;
		padding:0;
		min-width:880px;
		max-width:100%;
		top:40px;
		height:80px;
		background-color:black;
	}
	#titulo {
		position:relative;
		margin:0 auto;
		text-align:center;
		width:640px;
		background-image:url(../images/titulo.png);
		background-repeat:no-repeat;
		background-position:0px 0px;
		height:80px;
		top:0px;
		z-index:10;
	}
	#logo {
		position:relative;
		margin:0;
		float:left;
		background-color:transparent;
		background-image:url(../images/logo.png);
		background-position:0px 0px;
		background-repeat:no-repeat;
		width:120px;
		height:80px;
	}
	#logo2 {
		position:relative;
		margin:0;
		float:right;
		background-image:url(../images/logo2.png);
		background-position:0px 0px;
		background-repeat:no-repeat;
		width:120px;
		height:80px;
	}

/*------------------------Flechas para ampliar contenido o foto-------*/
	.ampliandocontenido {
		position: absolute;
		width: 35px;
		height: 35px;
		top: 8px;
		right: 45px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 31;
		cursor: pointer;
		opacity: 0.3;
	}
	#ampliarcontenido {
		display: block;
		background-image:url(../images/ampliar.png);
	}
	#ampliarcontenido:hover {
		background-image:url(../images/ampliar2.png);
		opacity: 1;
		width: 40px;
		height: 40px;
	}
	#noampliarcontenido {
		display: none;
		background-image: url(../images/noampliar.png);
	}
	#noampliarcontenido:hover {
		background-image: url(../images/noampliar2.png);
		opacity: 1;
		width: 40px;
		height: 40px;
	}

/*--------------------------Simulando Smartphone----------*/
	#movilizq {
		position: absolute;
		height: 100%;
		background-color: lightgray;
		width: 40px;
		border-radius: 12px 0px 0px 12px;
		margin: 0px;
		align-content: center;
		z-index: 1;
	}
	#imgmovilizq {
		position: relative;
		align-content: center;
		top: 25%;
		bottom: 30%;
		width: 100%;
		height: 50%;
		z-index: 31
	}
	#movildrh {
		position: absolute;
		height: 100%;
		top:0px;
		right: 0px;
		background-color: lightgray;
		width: 40px;
		border-radius: 0px 12px 12px 0px;
		margin: 0px;
		align-content: center;
		z-index: 31;
	}
	#imgmovildrh {
		position: relative;
		align-content: center;
		top: 25%;
		bottom: 30%;
		width: 100%;
		height: 50%;
	}
	#led {
		position: absolute;
		width: 10px;
		height: 10px;
		top:10%;
		left:15px;
		background-image: url(../images/led.gif);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	#botonmenu {
		position: absolute;
		width: 30px;
		height: 40px;
		background-color: #333333;
		top:50%;
		bottom: 50%;
		left:3px;
		border-radius: 15px;
		border: 2px solid gray;
	}

/*-----------------------------VIDEO------------*/
	#videopresentacion {
		z-index: 0;
		margin-top: 1%;
		width: 100%;
		height: 410px;
	}
	#controles {
	}
	#controles:hover {
	}
	.botones{
		z-index: 31;
		opacity: 0.3;
		background-color: transparent;
	}
			#anterior {
			}
			#anterior:hover {
				opacity: 1;
				cursor:pointer;
			}
			#play {
			}
			#play:hover {
				opacity: 1;
				cursor:pointer;
			}
			#proxima {
			}
			#proxima:hover {
				opacity: 1;
				cursor:pointer;
			}
			#silenciar {
			}
			#silenciar:hover {
				opacity: 1;
				cursor:pointer;
			}

/*Menu derecha del Smartphone*/
	 		#menusmartphone {
				position: absolute;
				background-color: antiquewhite;
				width: 26px;
				height: 55px;
				bottom: 23%;
				left: 8px;
				margin: auto;
				padding: 0px;
				border: 2px groove black;
				box-shadow: 5px 5px 50px black;
				border-radius: 5px 5px 5px 5px;
			}
	 		#menusmartphone:hover {
				opacity: 1;
				cursor: pointer;
				background-color: dimgrey;
			}

/*--------------------------------Pie de Página------------------*/
	#piedepagina {
		position: absolute;
		width: 100%;
		height: 40px;
		background-color: #333333;
		margin-bottom: 0px;
		color: burlywood;
		padding-left: 0;
		vertical-align: middle;
		text-align: center;
		align-content: center;
	}

/*-------------------------------DesplegableIZQ/ menuizquierda-----------------*/
/*Desplegable menu IZQ*/
	#cajadesplegableizq{
		position:fixed;
		opacity: 0.6;
		top:115px;
		width:80px;
		height: 345px;
		color:white;
		z-index: 12;
		left:-55px;
        box-shadow: 15px 20px 20px black;
        /*Gradiente de fondo*/
        background-color: darkgray;
        background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(20%, rgba(216,225,231,1)), color-stop(45%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
        background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
        background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
        background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
        background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
        /*Fin de gradiente de fondo*/
		border-radius: 0px 15px 15px 0px;
		-webkit-border-radius: 0px 15px 15px 0px;
		-moz-border-radius: 0px 15px 15px 0px;
	}
	#cajadesplegableizq:hover{
		left: 0px;
		opacity: 1;
		-moz-transition: all 1s ease-in-out;
		-webkit-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}
	.alldesplegablesizq{
		width: 110;
		z-index: 12;
		left:5px;
		opacity: 1;
	}
	.alldesplegablesizq:hover{
		width:130px;
		left:15px;
	}
	.comundesplegableizqimagenes{
		width: 70px;
		box-shadow: 3px 5px 5px black;
		margin-top: 8px;
		opacity: 1;
	}
	.comundesplegableizqimagenes:hover{
		width: 90px;
		margin-left: 15px;
		cursor: pointer;
		transition-duration: 0.5s;
		-moz-transform:rotate(15deg) scale(1);
		-webkit-transform:rotate(15deg) scale(1);
		-o-transform:rotate(15deg) scale(1);
		-ms-transform:rotate(15deg) scale(1);
	}
	.desplegableletras{
		position: absolute;
		background-color: white;
		left: 90px;
		padding-top: 1px;
		padding-bottom: 4px;
		padding-left:8px;
		padding-right: 8px;
		width: auto;
		height: 20px;
		color:black;
		text-align: center;
		font-family: fantasy;
		font-style: oblique;
		font-size: 18px;
		border: 3px solid orange;
		border-radius: 10px 10px 10px 10px;
		opacity: 0;
		transition-delay: 0.2s;
		-moz-transform:rotate(5deg) scale(1);
		-webkit-transform:rotate(5deg) scale(1);
		-o-transform:rotate(5deg) scale(1);
		-ms-transform:rotate(5deg) scale(1);
	}
	.desplegableletras:hover{
	}
/*Desplegables trato individual*/
	#1desplegableizq{
	}
	#1desplegableletras{
	}
	#2desplegableizq{
	}
	#2desplegableletras{
	}
	#3desplegableizq{
	}
	#3desplegableletras{
	}
	#4desplegableizq{
	}
	#4desplegableletras{
	}
	#5desplegableizq{
	}
	#5desplegableletras{
	}
	#6desplegableizq{
	}
	#6desplegableletras{
	}

/*--------------------------------Selector de Imágenes------------*/
	#cajaselectorimagenes{
		position:relative;
		width: 80%;
		height: 120px;
		margin: auto;
		background-color:black;
		top:35px;
		overflow-x: scroll;
		overflow-y: hidden;
		border-radius: 20px 20px 0px 0px;
		box-shadow: 15px 15px 75px 1px black;
		z-index: 11;
	}
/*Imagenes individuales*/
	.selectorimagen{
		position: relative;
		align-content: center;
		float: left;
		height: 100px;
		width: 100px;
		border: 1px solid white;
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center;
		opacity: 0.6;
	}
	.selectorimagen:hover {
		opacity: 1;
		width: 120px;
		border: 1px none;
		z-index: 13;
		transition: all 0.5s ease-in-out;
		-moz-transform:rotate(-5deg) scale(1);
		-webkit-transform:rotate(-5deg) scale(1);
		-o-transform:rotate(-5deg) scale(1);
		-ms-transform:rotate(-5deg) scale(1);
	}
/*FIN de Imagenes individuales*/
	#ulselectorimagen{
		position: relative;
		float:left;
		display: inline-block;
		list-style: none;
		vertical-align: middle;
		width: 2065px;
		margin-left: -40px;
		margin-top: 1px;
		margin-bottom: 0px;
		cursor: pointer;
	}
	#ulselectorimagen>LI{
		position: relative;
		float:left;
		list-style: none;
	}
/* Imágenes individuales GENERAL*/
	#selectorimagen1{
		background-image: url(../images/1_chipiona_general/thumbnail/1.jpg);
	}
	#selectorimagen2{
		background-image: url(../images/1_chipiona_general/thumbnail/2.jpg);
	}
	#selectorimagen3{
		background-image: url(../images/1_chipiona_general/thumbnail/3.jpg);
	}
	#selectorimagen4{
		background-image: url(../images/1_chipiona_general/thumbnail/4.jpg);
	}
	#selectorimagen5{
		background-image: url(../images/1_chipiona_general/thumbnail/5.jpg);
	}
	#selectorimagen6{
		background-image: url(../images/1_chipiona_general/thumbnail/6.jpg);
	}
	#selectorimagen7{
		background-image: url(../images/1_chipiona_general/thumbnail/7.jpg);
	}
	#selectorimagen8{
		background-image: url(../images/1_chipiona_general/thumbnail/8.jpg);
	}
	#selectorimagen9{
		background-image: url(../images/1_chipiona_general/thumbnail/9.jpg);
	}
	#selectorimagen10{
		background-image: url(../images/1_chipiona_general/thumbnail/10.jpg);
	}
	#selectorimagen11{
		background-image: url(../images/1_chipiona_general/thumbnail/11.jpg);
	}
	#selectorimagen12{
		background-image: url(../images/1_chipiona_general/thumbnail/12.jpg);
	}
	#selectorimagen13{
		background-image: url(../images/1_chipiona_general/thumbnail/13.jpg);
	}
	#selectorimagen14{
		background-image: url(../images/1_chipiona_general/thumbnail/14.jpg);
	}
	#selectorimagen15{
		background-image: url(../images/1_chipiona_general/thumbnail/15.jpg);
	}
	#selectorimagen16{
		background-image: url(../images/1_chipiona_general/thumbnail/16.jpg);
	}
	#selectorimagen17{
		background-image: url(../images/1_chipiona_general/thumbnail/17.jpg);
	}
	#selectorimagen18{
		background-image: url(../images/1_chipiona_general/thumbnail/18.jpg);
	}
	#selectorimagen19{
		background-image: url(../images/1_chipiona_general/thumbnail/19.jpg);
	}
	#selectorimagen20{
		background-image: url(../images/1_chipiona_general/thumbnail/20.jpg);
	}
/* Imágenes individuales PLAYA GENERAL*/
