@CHARSET "UTF-8";

/*--------------------------------FUENTES internas--------------------*/
@font-face {font-family:lobster;
src: url(../TTF/Lobster.ttf) format("opentype");}
@font-face {font-family:fairydust;
src: url(../TTF/Fairydust.ttf) format("opentype");}
@font-face {font-family:orial_bold;
src: url(../TTF/Orial_bold.otf) format("opentype");}
@font-face {font-family:makejuice;
src: url(../TTF/Makejuice.ttf) format("opentype");}

/*--------------------------------Estilos generales-------------------*/
	body {
		padding:0;
		margin:0;
		/* Gradiente de fondo generado por mi en: http://www.cssmatic.com/es/gradient-generator*/
		background-color: #0065a3;
		background: -moz-linear-gradient(top, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #000000), color-stop(74%, #00518f), color-stop(95%, #0065a3), color-stop(100%, #0065a3));
		background: -webkit-linear-gradient(top, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		background: -o-linear-gradient(top, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		background: -ms-linear-gradient(top, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		background: linear-gradient(to bottom, #000000 0%, #00518f 74%, #0065a3 95%, #0065a3 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0065a3', GradientType=0 );
		background-repeat: repeat;
	}
   .limpiarfloat { /*ESTE estilo es para un div vacío que consigue limpiar el float para evitar desplazamiento de las cajas posteriores*/
      clear: both;
   }
	H1{
		font-family: Orial_bold;
		color: azure;
		font-size: 24px;
	}
	H2{
		 font-family: makejuice;
		 text-align: center;
		 padding-top: 12px;
		 color: black;
		 text-shadow: 5px 5px 5px #044C81;
       -webkit-text-shadow: 5px 5px 5px #044C81;
       -moz-text-shadow: 5px 5px 5px #044C81;
       -o-text-shadow: 5px 5px 5px #044C81;
       -ms-text-shadow: 5px 5px 5px #044C81;
	}
	H3{

	}
	A {
		color: inherit;
		text-decoration: none;
	}
	P{
		position: relative;
       font-family: fairydust;
       font-size: 22px;
       font-style: italic;
		 text-align: justify;
		 letter-spacing: 4px;
		 color: #00213A;
       text-shadow: 5px 5px 10px black;
       -webkit-text-shadow: 5px 5px 10px black;
       -moz-text-shadow: 5px 5px 10px black;
       -o-text-shadow: 5px 5px 10px black;
       -ms-text-shadow: 5px 5px 10px black;
	}

	 LI {
		  color: darkorange;
		  padding: 5px;
		  list-style-image: url("../images/iconos/listas.png");
		  text-shadow: 5px 5px 10px black;
       -webkit-text-shadow: 5px 5px 10px black;
       -moz-text-shadow: 5px 5px 10px black;
       -o-text-shadow: 5px 5px 10px black;
       -ms-text-shadow: 5px 5px 10px black;
	 }

	.imagencontenido{
		position: relative;
		width: 130px;
		margin: auto;
		float: left;
		margin: 7px;
		box-shadow: 10px 10px 35px black;
       -webkit-box-shadow: 10px 10px 35px black;
       -moz-box-shadow: 10px 10px 35px black;
       -o-box-shadow: 10px 10px 35px black;
       -ms-box-shadow: 10px 10px 35px black;
		border-radius: 20px;
       -webkit-border-radius: 20px;
		-moz-border-radius: 20px;
       -o-border-radius: 20px;
       -ms-border-radius: 20px;
	/*Animación*/
		animation-direction: alternate;
		animation: imgmover 16s steps(30) infinite;
		-moz-animation: imgmover 16s steps(30) infinite;
		-webkit-animation: imgmover 16s steps(30) infinite;
		-o-animation: imgmover 16s steps(30) infinite;
		-ms-animation: imgmover 16s steps(30) infinite;
	}
	@keyframes imgmover {
		from {
			box-shadow: 10px 10px 35px black;
           -webkit-box-shadow: 10px 10px 35px black;
           -moz-box-shadow: 10px 10px 35px black;
           -o-box-shadow: 10px 10px 35px black;
           -ms-box-shadow: 10px 10px 35px black;
			opacity: 1;
			transform:rotate(-10deg) scale(1);
			-moz-transform:rotate(-10deg) scale(1);
			-webkit-transform:rotate(-10deg) scale(1);
			-o-transform:rotate(-10deg) scale(1);
			-ms-transform:rotate(-10deg) scale(1);
		}
		25% {
			box-shadow: 15px 20px 35px black;
           -webkit-box-shadow: 15px 10px 35px black;
       -moz-box-shadow: 15px 10px 35px black;
       -o-box-shadow: 15px 10px 35px black;
       -ms-box-shadow: 15px 10px 35px black;
			opacity: 0.7;
			transform:rotate(10deg) scale(1);
			-moz-transform:rotate(10deg) scale(1);
			-webkit-transform:rotate(10deg) scale(1);
			-o-transform:rotate(10deg) scale(1);
			-ms-transform:rotate(10deg) scale(1);
		}
		50% {
			box-shadow: -20px -15px 35px black;
           -webkit-box-shadow: -20px -15px 35px black;
       -moz-box-shadow: -20px -15px 35px black;
       -o-box-shadow: -20px -15px 35px black;
       -ms-box-shadow: -20px -15px 35px black;
			opacity: 1;
			transform:rotate(-10deg) scale(1);
			-moz-transform:rotate(-10deg) scale(1);
			-webkit-transform:rotate(-10deg) scale(1);
			-o-transform:rotate(-10deg) scale(1);
			-ms-transform:rotate(-10deg) scale(1);
		}
		75% {
			box-shadow: 10px 10px 65px black;
           -webkit-box-shadow: 10px 10px 65px black;
       -moz-box-shadow: 10px 10px 65px black;
       -o-box-shadow: 10px 10px 65px black;
       -ms-box-shadow: 10px 10px 65px black;
			opacity: 0.9;
			transform:rotate(10deg) scale(1);
			-moz-transform:rotate(10deg) scale(1);
			-webkit-transform:rotate(10deg) scale(1);
			-o-transform:rotate(10deg) scale(1);
			-ms-transform:rotate(10deg) scale(1);
		}
		to {
			box-shadow: 10px 10px 35px black;
           -webkit-box-shadow: 10px 10px 35px black;
       -moz-box-shadow: 10px 10px 35px black;
       -o-box-shadow: 10px 10px 35px black;
       -ms-box-shadow: 10px 10px 35px black;
			opacity: 1;
			transform:rotate(-10deg) scale(1);
			-moz-transform:rotate(-10deg) scale(1);
			-webkit-transform:rotate(-10deg) scale(1);
			-o-transform:rotate(-10deg) scale(1);
			-ms-transform:rotate(-10deg) scale(1);
		}
	}

/*Caja general*/
	#cajageneral {
		position:relative;
		margin:0px;
		text-align:center;
		width:98%;
		height: 640px;
		background-color: transparent;
	}

/*-------------------------------Contenido/Visor de imágenes-------------*/
/*Contenido*/
	#contenido {
		position:relative;
		border: 7px groove white;
		text-align:center;
		top:50px;
		min-width: 400px;
		max-width: 560px;
		min-height: 260px;
		max-height: 340px;
		margin:auto;
		background-color:black;
		background-repeat: no-repeat;
		background-size: cover;
		z-index:8;
		box-shadow: 10px 10px 50px black;
       -webkit-box-shadow: 10px 10px 50px black;
       -moz-box-shadow: 10px 10px 50px black;
       -o-box-shadow: 10px 10px 50px black;
       -ms-box-shadow: 10px 10px 50px black;
		border-radius: 20px;
       -webkit-border-radius: 20px;
		-moz-border-radius: 20px;
       -o-border-radius:  20px;
       -ms-border-radius:  20px;
	}
	#centrodecontenido {
		position: relative;
	}
	#anticopy { /*Imagen sobrepuesta que ayuda con el aviso de que esta intentando copiar una imagen que no es para uso comercial*/
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 20px;
       -webkit-border-radius: 20px;
		-moz-border-radius: 20px;
       -o-border-radius:  20px;
       -ms-border-radius:  20px;
		z-index: 29;
		opacity: 0;
	}

/*------------------------Barra de Menú Superior Fixed----------------*/
	#menufixed {/*Barra superior*/
		position: fixed;
		width: 100%;
		height: 40px;
		background-color: transparent;
		z-index: 40;
	}
	#cajamenufixed {
		position: absolute;
		width: 100%;
		height:40px;
		align-content: center;
		vertical-align: middle;
		background-color: black;
	}
	#centermenufixed {/*Caja para centrar contenido*/
		position: relative;
		width: 400px;
		height: 40px;
		align-content: center;
		margin:auto;
		background-color: transparent;
	}
	.todoslosmenus {/*Clase común para todos los menús*/
		position: relative;
		float: left;
		top:0px;
		margin-left: 5px;
		margin-right: 5px;
		background-color: transparent;
		padding-top: 5px;
		padding-bottom: 3px;
		padding-right: 7px;
		padding-left: 7px;
		color: azure;
		font-family: lobster;
		font-size: 22px;
		border-radius: 0px 0px 20px 20px;
       -webkit-border-radius: 0px 0px 20px 20px;
		-moz-border-radius: 0px 0px 20px 20px;
       -o-border-radius:  0px 0px 20px 20px;
       -ms-border-radius:  0px 0px 20px 20px;
	}
	.todoslosmenus:hover {
		background-color: whitesmoke;
		color: black;
		cursor: pointer;
	}
/*Parte desplegable de menu fixed superior*/
	.menusuperiorcaja1 {
		position: absolute;
		width: 200px;
		margin: 0px;
		height: 200px;
		left: -50px;
		background-color: transparent;
		display: none;
		border-radius: 0px 20px 20px 20px;
       -webkit-border-radius: 0px 20px 20px 20px;
		-moz-border-radius: 0px 20px 20px 20px;
       -o-border-radius: 0px 20px 20px 20px;
       -ms-border-radius: 0px 20px 20px 20px;
	}
	.menusuperiorcaja2 {
		position: absolute;
		margin: 0px;
		width: 25px;
		height: 20px;
		left: 76px;
		background-color: whitesmoke;
	}
	.menusuperiorcaja3 {
		position: absolute;
		width: 200px;
		top: 20px;
		margin: 0px;
		padding: 0px;
		background-color: whitesmoke;
		font-size: 16px;
		border-radius: 0px 20px 20px 20px;
       -webkit-border-radius: 0px 20px 20px 20px;
		-moz-border-radius: 0px 20px 20px 20px;
       -o-border-radius: 0px 20px 20px 20px;
       -ms-border-radius: 0px 20px 20px 20px;
		box-shadow: 5px 5px 10px black;
       -webkit-box-shadow: 5px 5px 10px black;
       -moz-box-shadow: 5px 5px 10px black;
       -o-box-shadow: 5px 5px 10px black;
       -ms-box-shadow: 5px 5px 10px black;
		text-shadow: 5px 5px 10px black;
       -webkit-text-shadow: 5px 5px 10px black;
       -moz-text-shadow: 5px 5px 10px black;
       -o-text-shadow: 5px 5px 10px black;
       -ms-text-shadow: 5px 5px 10px black;
	}
	.ulcomunlistas {
		margin: 13px;
		padding: 0px;
	}

	.lidesplegable { /*Listas del menu desplegable superior*/
		list-style: none;
		margin:0px;
		padding: 0px;
		background-color: whitesmoke;
		color: dimgray;
	}
	.lidesplegable:hover{
		background-color: skyblue;
		color: #00335A;
		text-decoration: none;
	}
	.linkmenusuperior{ /*Enlaces del menu desplegable superior*/
		color:inherit;
		text-decoration: none;
	}
	.linkmenusuperior:hover{
		color:inherit;

	}
/*-------------------------TÍTULO SUPERIOR y LOGOS--------------*/
	#cajatitulo {
		position:relative;
		margin:0;
		padding:0;
		min-width:400px;
		max-width:100%;
		top:40px;
		height:80px;
		background-color:black;
	}
	#titulo {
		position:relative;
		margin:0 auto;
		text-align:center;
		min-width: 400px;
		max-width: 660px;
		background-image:url(../images/titulo.png);
		background-repeat:no-repeat;
		background-position:0px 0px;
       background-size: 100%;
		height:80px;
		top:0px;
		z-index:10;
	}
	#logo {
		position:absolute;
		margin:0;
       left: 0px;
		background-color:transparent;
		background-image:url(../images/logo.png);
		background-position:0px 0px;
		background-repeat:no-repeat;
		width:120px;
		height:80px;
       z-index: 11;
	}
	#logo2 {
		position:absolute;
		margin:0;
       right: 0px;
		background-image:url(../images/logo2.png);
		background-position:0px 0px;
		background-repeat:no-repeat;
		width:120px;
		height:80px;
       z-index: 11;
	}

/*------------------------Flechas para ampliar contenido o foto-------*/
	.ampliandocontenido {
		position: absolute;
		width: 35px;
		height: 35px;
		top: 15px;
		right: 2px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 31;
		cursor: pointer;
		opacity: 0.3;
	}
	#ampliarcontenido {
		display: block;
		background-image:url(../images/botones/ampliar.png);
	}
	#ampliarcontenido:hover {
		background-image:url(../images/botones/ampliar2.png);
		opacity: 1;
	}
	#noampliarcontenido {
		display: none;
		background-image: url(../images/botones/noampliar.png);
	}
	#noampliarcontenido:hover {
		background-image: url(../images/botones/noampliar2.png);
		opacity: 1;
	}

/*--------------------------Simulando Smartphone----------*/
	#movilizq {
		position: absolute;
		height: 100%;
		background-color: lightgray;
		width: 40px;
		border-radius: 12px 0px 0px 12px;
       -webkit-border-radius: 12px 0px 0px 12px;
		-moz-border-radius: 12px 0px 0px 12px;
       -o-border-radius: 12px 0px 0px 12px;
       -ms-border-radius: 12px 0px 0px 12px;
		margin: 0px;
		align-content: center;
		z-index: 33;
	}
	#imgmovilizq {
		position: relative;
		align-content: center;
		top: 25%;
		bottom: 30%;
		z-index: 33;
	}
	#movildrh {
		position: absolute;
		height: 100%;
		top:0px;
		right: 0px;
		background-color: lightgray;
		width: 40px;
		border-radius: 0px 12px 12px 0px;
       -webkit-border-radius: 0px 12px 12px 0px;
		-moz-border-radius: 0px 12px 12px 0px;
       -o-border-radius: 0px 12px 12px 0px;
       -ms-border-radius: 0px 12px 12px 0px;
		margin: 0px;
		align-content: center;
		z-index: 33;
	}
	#led {
		position: absolute;
		width: 10px;
		height: 10px;
		top:10%;
		left:15px;
		background-image: url(../images/led.gif);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	#botonmenu {
		position: absolute;
		width: 30px;
		height: 40px;
		background-color: #333333;
		top:50%;
		bottom: 50%;
		left:3px;
		border-radius: 15px;
       -webkit-border-radius: 15px;
		-moz-border-radius: 15px;
       -o-border-radius: 15px;
       -ms-border-radius: 15px;
		border: 2px solid gray;
	}

/*-----------------------------VIDEO------------*/
	#videopresentacion {
		z-index: 0;
		width: 100%;
		min-height: 260px;
		max-height: 340px;
		border-radius: 15px;
      -webkit-border-radius: 15px;
		-moz-border-radius: 15px;
      -o-border-radius: 15px;
		-ms-border-radius: 15px;
	}
	#controles {
		bottom: 0px;
		display: inline-block;
	}
	.botones{
		opacity: 0.5;
		background-color: transparent;
		color: aliceblue;
	}
			#anterior {
			}
			#anterior:hover {
				opacity: 1;
				cursor:pointer;
			}
			#play {
			}
			#play:hover {
				opacity: 1;
				cursor:pointer;
			}
			#proxima {
			}
			#proxima:hover {
				opacity: 1;
				cursor:pointer;
			}
			#silenciar {
			}
			#silenciar:hover {
				opacity: 1;
				cursor:pointer;
			}

/*Menu emergente del Smartphone*/
	#cajamenusmartphone{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 30;
		display: none;
	}
	#menusmartphone {
		position: absolute;
		width: 83%;
		height: 90%;
		left: 6%;
		top: 5%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	#fondomenusmartphone{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.6;
		z-index: -20;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		-ms-border-radius: 20px;
	}
	.imagenesdelmenusmartphone {/*Iconos al pulsar menu*/
		width: 100px;
       height: 100px;
       opacity: 0.6;
	}
	.imagenesdelmenusmartphone:hover {
		opacity: 1;
		cursor: pointer;
	}
	#cajatitulossmartphone {
		position: absolute;
		height: 40px;
		width: 100%;
		bottom: 0px;
		padding-bottom: 13px;
		opacity: 0.5;
		background-color: black;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		-ms-border-radius: 20px;
		z-index: 30;
	}
	.botonessmartphone {/*estilos generales para todos los botones del menu derecho*/
		position: absolute;
		width: 36px;
		height: 36px;
		padding: 0px;
		left: 5%;
      transform:rotate(-90deg) scale(1);
		-moz-transform:rotate(-90deg) scale(1);
		-webkit-transform:rotate(-90deg) scale(1);
		-o-transform:rotate(-90deg) scale(1);
		-ms-transform:rotate(-90deg) scale(1);
		opacity: 0.6;
	}
	.botonessmartphone:hover {
		opacity: 1;
		cursor: pointer;
	}
	#botonvolversmartphone {
		top: 25%;
	}
	#botoniniciosmartphone {
		top: 45%;
	}
	#botonmenusmartphone {/*Boton de la derecha que hace aparecer el menú*/
		top: 65%;
	}
	.imgbotonmenusmartphone {
		width: 100%;
	}

/*-------------------------------DesplegableIZQ/ menuizquierda-----------------*/
/*Desplegable menu IZQ*/
	#cajadesplegableizq{
		position:fixed;
		opacity: 0.6;
		top:115px;
		width:80px;
		height: 345px;
		color:white;
		z-index: 50;
		left:-55px;
		box-shadow: 15px 20px 20px black;
       -webkit-box-shadow: 15px 20px 20px black;
       -moz-box-shadow: 15px 20px 20px black;
       -o-box-shadow: 15px 20px 20px black;
       -ms-box-shadow: 15px 20px 20px black;
		/*Gradiente de fondo*/
		background-color: darkgray;
		background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(20%, rgba(216,225,231,1)), color-stop(45%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
		background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
		background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
		background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
		background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
      /*Fin de gradiente de fondo*/
		border-radius: 0px 15px 15px 0px;
		-webkit-border-radius: 0px 15px 15px 0px;
		-moz-border-radius: 0px 15px 15px 0px;
       -o-border-radius: 0px 15px 15px 0px;
       -ms-border-radius: 0px 15px 15px 0px;
	}
	#cajadesplegableizq:hover {
		left: 0px;
		opacity: 1;
       transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-webkit-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
       -ms-transition: all 1s ease-in-out;
	}
	.alldesplegablesizq{
		width: 110px;
		z-index: 12;
		left:5px;
		opacity: 1;
	}
	.alldesplegablesizq:hover{
		width:130px;
		left:15px;
	}
	.comundesplegableizqimagenes{
		width: 70px;
		box-shadow: 3px 5px 5px black;
       -webkit-box-shadow: 3px 5px 5px black;
       -moz-box-shadow: 3px 5px 5px black;
       -o-box-shadow: 3px 5px 5px black;
       -ms-box-shadow: 3px 5px 5px black;
		margin-top: 8px;
		opacity: 1;
	}
	.comundesplegableizqimagenes:hover{
		width: 90px;
		margin-left: 15px;
		cursor: pointer;
		transition-duration: 0.5s;
       transform:rotate(15deg) scale(1);
		-moz-transform:rotate(15deg) scale(1);
		-webkit-transform:rotate(15deg) scale(1);
		-o-transform:rotate(15deg) scale(1);
		-ms-transform:rotate(15deg) scale(1);
	}
	.desplegableletras{
		position: absolute;
		background-color: white;
		left: 90px;
		padding-top: 1px;
		padding-bottom: 4px;
		padding-left:8px;
		padding-right: 8px;
		width: auto;
		height: 20px;
		color:black;
		text-align: center;
		font-family: fantasy;
		font-style: oblique;
		font-size: 18px;
		border: 3px solid orange;
		border-radius: 10px 10px 10px 10px;
		opacity: 0;
		transition-delay: 0.2s;
       transform:rotate(5deg) scale(1);
		-moz-transform:rotate(5deg) scale(1);
		-webkit-transform:rotate(5deg) scale(1);
		-o-transform:rotate(5deg) scale(1);
		-ms-transform:rotate(5deg) scale(1);
	}

/*--------------------------------Selector de Imágenes------------*/
	#cajaselectorimagenes{
		position:relative;
		width: 80%;
		height: 120px;
		margin: auto;
		background-color:black;
		top:35px;
		overflow-x: scroll;
		overflow-y: hidden;
		border-radius: 20px 20px 0px 0px;
       -webkit-border-radius: 20px 20px 0px 0px;
		-moz-border-radius: 20px 20px 0px 0px;
       -o-border-radius: 20px 20px 0px 0px;
       -ms-border-radius: 20px 20px 0px 0px;
		box-shadow: 15px 15px 75px black;
        -webkit-box-shadow: 15px 15px 75px black;
       -moz-box-shadow: 15px 15px 75px black;
       -o-box-shadow: 15px 15px 75px black;
       -ms-box-shadow: 15px 15px 75px black;
		z-index: 11;
	}
/*Imagenes individuales*/
	.selectorimagen{
		position: relative;
		align-content: center;
		float: left;
		height: 100px;
		width: 100px;
		border: 1px solid white;
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center;
		opacity: 0.6;
	}
	.selectorimagen:hover {
		opacity: 1;
		width: 120px;
		border: 1px none;
		z-index: 13;
		transition: all 0.5s ease-in-out;
		-moz-transform:rotate(-5deg) scale(1);
		-webkit-transform:rotate(-5deg) scale(1);
		-o-transform:rotate(-5deg) scale(1);
		-ms-transform:rotate(-5deg) scale(1);
	}
/*FIN de Imagenes individuales*/
	#ulselectorimagen{
		position: relative;
		float:left;
		display: inline-block;
		list-style: none;
		vertical-align: middle;
		width: 2065px;
		margin-left: -40px;
		margin-top: 1px;
		margin-bottom: 0px;
		cursor: pointer;
	}
	#ulselectorimagen>LI{
		position: relative;
		float:left;
		list-style: none;
	}
/* Imágenes individuales GENERAL*/
	#selectorimagen1{
		background-image: url(../images/1_chipiona_general/thumbnail/1.jpg);
	}
	#selectorimagen2{
		background-image: url(../images/1_chipiona_general/thumbnail/2.jpg);
	}
	#selectorimagen3{
		background-image: url(../images/1_chipiona_general/thumbnail/3.jpg);
	}
	#selectorimagen4{
		background-image: url(../images/1_chipiona_general/thumbnail/4.jpg);
	}
	#selectorimagen5{
		background-image: url(../images/1_chipiona_general/thumbnail/5.jpg);
	}
	#selectorimagen6{
		background-image: url(../images/1_chipiona_general/thumbnail/6.jpg);
	}
	#selectorimagen7{
		background-image: url(../images/1_chipiona_general/thumbnail/7.jpg);
	}
	#selectorimagen8{
		background-image: url(../images/1_chipiona_general/thumbnail/8.jpg);
	}
	#selectorimagen9{
		background-image: url(../images/1_chipiona_general/thumbnail/9.jpg);
	}
	#selectorimagen10{
		background-image: url(../images/1_chipiona_general/thumbnail/10.jpg);
	}
	#selectorimagen11{
		background-image: url(../images/1_chipiona_general/thumbnail/11.jpg);
	}
	#selectorimagen12{
		background-image: url(../images/1_chipiona_general/thumbnail/12.jpg);
	}
	#selectorimagen13{
		background-image: url(../images/1_chipiona_general/thumbnail/13.jpg);
	}
	#selectorimagen14{
		background-image: url(../images/1_chipiona_general/thumbnail/14.jpg);
	}
	#selectorimagen15{
		background-image: url(../images/1_chipiona_general/thumbnail/15.jpg);
	}
	#selectorimagen16{
		background-image: url(../images/1_chipiona_general/thumbnail/16.jpg);
	}
	#selectorimagen17{
		background-image: url(../images/1_chipiona_general/thumbnail/17.jpg);
	}
	#selectorimagen18{
		background-image: url(../images/1_chipiona_general/thumbnail/18.jpg);
	}
	#selectorimagen19{
		background-image: url(../images/1_chipiona_general/thumbnail/19.jpg);
	}
	#selectorimagen20{
		background-image: url(../images/1_chipiona_general/thumbnail/20.jpg);
	}

/*-------------------------------Nombre de la galería-----------*/
#nombredeimagenactual {/*Nombre de la imagen actual*/
	position: relative;
	width: 100px;
	height: 50px;
	display: none;
	color: aliceblue;
	z-index: 100;
	background-color: red;
	}
	#galeriaimagenesactual {/*Galería de Imágenes que está utilizando en cada momento*/
		position: relative;
		display: block;
        top: 17px;
       color:#004275;
       font-family: lobster;
       font-size: 40px;
	}

/*--------------------------------Menu del medio----------------*/
	#cajamenumedio {
		width: 100%;
		height: 40px;
       margin-bottom: 40px;
		background-color: black;
		align-content: center;
	}
	#centrarmenumedio {
		position: relative;
       width: 400px;
		margin: auto;
	}
	.menusindividualescentro {
		float: left;
		margin: 6px;
		padding: 2px;
		color: azure;
		font-size: 16px;
		font-family: lobster;
	}
	.menusindividualescentro:hover {
		cursor: pointer;
		background-color: aliceblue;
		color: black;
	}
/*--------------------------------Información-------------------*/
/*Caja General Información*/
	#cajainformacion {
		position: relative;
		margin: auto;
		width: 90%;
		justify-content: center;
		display: flex;
		display: -wbkit-flex;
		display: -ms-flexbox;
		display: -o-flex;
		display: -moz-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		z-index: 1;
	}
	.informacion {/*Caja general información*/
		position: relative;
		min-width: 400px;
		max-width: 1000px;
		margin: auto;
		z-index: 3;
	}
	.tituloinformacion {/*Título de información*/
		height: 66px;
		margin: 4px;
		padding: 1px 5px 0px 5px;
		text-align: center;
		display: block;
		width: 400px;
		background-image: url(../images/cuadros_informacion/tituloinformacion.png);
		background-repeat: no-repeat;
		background-size: 100%;
       text-shadow: 5px 5px 10px black;
       -webkit-text-shadow: 5px 5px 10px black;
       -moz-text-shadow: 5px 5px 10px black;
       -o-text-shadow: 5px 5px 10px black;
       -ms-text-shadow: 5px 5px 10px black;
		z-index: 4;
	}
	.contenidoinformacion {/*Contenido de información*/
		margin: 10px 10px 50px 10px;
		padding-top: 5px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
		background-color: #5CA7C7;
		border:20px solid transparent;
		border-image-width: 20px;
		border-image: url(../images/cuadros_informacion/contenidoinformacion.png) 50 stretch;
		-moz-border-image: url(../images/cuadros_informacion/contenidoinformacion.png) 50 stretch;
		-webkit-border-image: url(../images/cuadros_informacion/contenidoinformacion.png) 50 stretch;
		-o-border-image: url(../images/cuadros_informacion/contenidoinformacion.png) 50 stretch;
		z-index: 4;
       box-shadow: 10px 20px 25px black;
       -webkit-box-shadow: 10px 20px 25px black;
       -moz-box-shadow: 10px 20px 25px black;
       -o-box-shadow: 10px 20px 25px black;
       -ms-box-shadow: 10px 20px 25px black;
		border-radius: 10px;
       -webkit-border-radius: 10px;
		-moz-border-radius: 10px;
       -o-border-radius: 10px;
       -ms-border-radius: 10px;
	}

/*--------------------------------Pie de Página------------------*/
	#piedepagina {
		position: absolute;
		width: 100%;
		height: 40px;
		background-color: #333333;
		margin-bottom: 0px;
		color: burlywood;
       font-family: lobster;
       font-size: 30px;
		text-align: center;
		align-content: center;
		border-top: 10px ridge gray;
	}

   #infogaleria {
      position: relative;
      width: 400px;
      height: 100px;
      top: 60px;
      margin: auto;
      background-image: url(../images/pergamino.png);
      background-size: 100%;
      background-repeat: no-repeat;
   }


/*---------------------------Subir al comienzo de la página---*/
	#subir {
		position: fixed;
       width: 60px;
       height: 130px;
		bottom: 12px;
		right: 12px;
		padding: 5px;
		opacity: 0.4;
		cursor: pointer;
       background-image: url(../images/flecha.png);
       background-repeat: no-repeat;
       background-size: 100%;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
       -o-border-radius: 20px;
		-ms-border-radius: 20px;
		z-index: 20;
	}
	#subir:hover {
		opacity: 1;
		background-color: dodgerblue;
	}



























