@CHARSET "UTF-8";

@font-face {font-family:lobster;
src: url(../TTF/Lobster.ttf) format("opentype");}

/*Contenido*/
			#contenido {
				position:relative;
				border: 7px groove white;
				text-align:center;
				top:50px;
				width:70%;
				height: 420px;
				margin:auto;
				/*background-image: url(./images/contenido.png);*/
				background-color:black;
            background-repeat: no-repeat;
				background-size: cover;
				z-index:8;
				box-shadow: 10px 10px 50px black;
				border-radius: 20px;
				}
			#centrodecontenido {
				position: relative;
				}
			#anticopy {
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 20px;
				z-index: 30;
				opacity: 0;
				}
/*Menu Fixed*/
			#menufixed {
				position: fixed;
				width: 100%;
				height: 50px;
				background-color: red;
				z-index: 30;
				}
			#cajamenufixed {
				position: absolute;
				width: 100%;
				align-content: center;
				vertical-align: middle;
				background-color: orange;
				}
			#centermenufixed {
				position: relative;
				width: 500px;
				height: 40px;
				background-color: yellow;
				margin: auto;
				}
			.todoslosmenus {
				position: relative;
				float: left;
               margin-left: 5px;
               margin-right: 5px;
               background-color: #00335A;
               padding-top: 3px;
               padding-bottom: 3px;
               padding-right: 5px;
               padding-left: 5px;
               color: azure;
               font-family: lobster;
               font-size: 22px;
				}
			#menualbums {

				}
			#menuvideos {

				}
			#menuwebsamigas {

				}
			#menuinfo {

				}

/*Flechas para ampliar contenido o foto*/
			.ampliandocontenido{
				position: absolute;
				width: 35px;
				height: 35px;
				top: 8px;
				right: 45px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				z-index: 31;
				cursor: pointer;
				opacity: 0.3;
				}
			#ampliarcontenido{
				display: block;
				background-image:url(../images/ampliar.png);
				}
			#ampliarcontenido:hover{
				background-image:url(../images/ampliar2.png);
				opacity: 1;
				width: 40px;
				height: 40px;
				}
			#noampliarcontenido{
				display: none;
				background-image: url(../images/noampliar.png);
				}
			#noampliarcontenido:hover{
				background-image: url(../images/noampliar2.png);
				opacity: 1;
				width: 40px;
				height: 40px;
				}

/*Simulando Smartphone*/
			#movilizq {
				position: absolute;
				height: 100%;
				background-color: lightgray;
				width: 40px;
				border-radius: 12px 0px 0px 12px;
				margin: 0px;
				align-content: center;
				z-index: 1;
				}

			#imgmovilizq {
				position: relative;
				align-content: center;
				top: 25%;
				bottom: 30%;
				width: 100%;
				height: 50%;
				}
			#movildrh {
				position: absolute;
				height: 100%;
				top:0px;
				right: 0px;
				background-color: lightgray;
				width: 40px;
				border-radius: 0px 12px 12px 0px;
				margin: 0px;
				align-content: center;
				z-index: 1;
				}
			#imgmovildrh {
				position: relative;
				align-content: center;
				top: 25%;
				bottom: 30%;
				width: 100%;
				height: 50%;
				}
			#led {
				position: absolute;
				width: 10px;
				height: 10px;
				top:10%;
				left:15px;
				background-image: url(../images/led.gif);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				}
			#botonmenu {
				position: absolute;
				width: 30px;
				height: 40px;
				background-color: #333333;
				top:50%;
				bottom: 50%;
				left:3px;
				border-radius: 15px;
				border: 2px solid gray;
				}

/*VIDEO*/
			#controles {

				}
			#controles:hover {

				}
			.botones{
				z-index: 40;
				opacity: 0.3;
				background-color: transparent;
				}
					#anterior {

							}
					#anterior:hover {
							opacity: 1;
							cursor:pointer;
							}
					#play {

							}
					#play:hover {
						opacity: 1;
						cursor:pointer;
							}
					#proxima {

							}
					#proxima:hover {
						opacity: 1;
						cursor:pointer;
							}
					#silenciar {

							}
					#silenciar:hover {
						opacity: 1;
						cursor:pointer;
							}
			#videopresentacion {
				z-index: 0;
				margin-top: 1%;
				width: 100%;
				height: 410px;
				}

/*Fin de vídeo*/

/* Pie de Página*/
			#piedepagina {
				position: absolute;
				width: 100%;
				height: 40px;
				background-color: #333333;
				margin-bottom: 0px;
				color: burlywood;
				padding-left: 0;
				vertical-align: middle;
				text-align: center;
				align-content: center;

			}
