/*************************
	 SELECTOR DE IMÁGENES
**************************/
#cajaselectorimagenes {
	box-sizing: border-box;
	margin: 5px auto;
	padding: 0 20px;
	height: 120px;
	width: 90%;
	background-color:black;
	overflow-x: scroll;
	overflow-y: hidden;
	border-radius: 20px 20px 0px 0px;
		-webkit-border-radius: 20px 20px 0px 0px;
		-moz-border-radius: 20px 20px 0px 0px;
		-o-border-radius: 20px 20px 0px 0px;
		-ms-border-radius: 20px 20px 0px 0px;
	box-shadow: 15px 15px 75px black;
		-webkit-box-shadow: 15px 15px 75px black;
		-moz-box-shadow: 15px 15px 75px black;
		-o-box-shadow: 15px 15px 75px black;
		-ms-box-shadow: 15px 15px 75px black;
}
/*Imagenes individuales*/
.selectorimagen {
	box-sizing: border-box;
	align-content: center;
	float: left;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	opacity: 0.6;
}
.selectorimagen:hover {
	opacity: 1;
	width: 110px;
	border: 3px solid #3F5B73;
	z-index: 13;
	transition: all 0.6s ease-in-out;
		-moz-transform:rotate(-5deg) scale(1);
		-webkit-transform:rotate(-5deg) scale(1);
		-o-transform:rotate(-5deg) scale(1);
		-ms-transform:rotate(-5deg) scale(1);
}
/*FIN de Imagenes individuales*/
#ulselectorimagen{
	width: 2065px;
	height: 100px;
	margin-top: 1px;
	margin-bottom: 0;
	cursor: pointer;
}

#ulselectorimagen > LI{
	float:left;
	list-style: none;
}

/*************************
				CARRUSEL
**************************/
#cajacarrusel {
	position: relative;
	box-sizing: border-box;
	margin: auto;
	align-content: center;
	text-align: center;
	vertical-align: middle;
	min-width: 280px;
	max-width: 900px;
	height: 600px;
	background-color: black;
	z-index: 1;
}
@media screen and (max-width: 980px) {
	#cajacarrusel {
		height: 481px;
	}
}
@media screen and (max-width: 480px) {
	#cajacarrusel {
		height: 300px;
	}
}
#cajacontrolimagen {
	position: absolute;
	width: 100%;
	height: 40px;
	margin: 30% auto;
	top: 30px;
	z-index: 3;
	transition: 1.3s;
	opacity: 1;
}
#controlimagen {
	position: relative;
	width: 170px;
	height: 100%;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	align-content: center;

}
.todoslosefectos {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	margin: 3px;
	border: 3px solid transparent;
	border-radius: 5px;
	opacity: 0.6;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.todoslosefectos:hover {
	background-color: #C73935;
	cursor: pointer;
	opacity: 1;
	border: 3px solid black;
}
#atras {
	background-image: url(../images/botones/botonanterior.png);
}
#blancoynegro {
	background-image: url(../images/botones/black_white.jpg);
}
#ampliar {
	background-image: url(../images/botones/ampliar.png);
}
#adelante {
	background-image: url(../images/botones/botonsiguiente.png);
}

.cajasflechas {
	position: absolute;
	width: 30px;
	height: 100%;
	background-color: #1D415B;
	z-index: 4;
	transition: 1s;
	opacity: 0.3;
	vertical-align: middle;
	align-content: center;
	text-align: center;
}
.cajasflechas:hover {
	cursor: pointer;
	opacity: 1;
}
#cajaflechaizq {
	left: 0;
	border-right: 4px solid #C73935;
	border-radius: 10px 0 0 10px;
}
#flechaizq {
	position: relative;
	width: 50px;
	height: 60px;
	margin: auto;
	top: 45%;
	background-image: url("../images/botones/flechaizq.png");
	background-repeat: no-repeat;
	transition: 0.8s;
}
#flechaizq:hover {
	background-image: url("../images/botones/flechaizqhover.png");
}
#cajaflechadrh {
	position: absolute;
	height: 100%;
	right: 0px;
	border-left: 4px solid #C73935;
	border-radius: 0 10px 10px 0;
}
#flechadrh {
	position: relative;
	width: 50px;
	height: 60px;
	margin: auto;
	top: 45%;
	left: -20px;
	background-image: url(../images/botones/flechadrh.png);
	background-repeat: no-repeat;
	background-position: right;
	transition: 0.8s;
}
#flechadrh:hover {
	background-image: url("../images/botones/flechadrhhover.png");
}
#centrarimagenactual {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	max-height: 650px;
	height: 100%;
	align-content: center;
	vertical-align: middle;
	text-align: center;
	background-color: black;
}

#imagenactual {
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
	opacity: 0.7;
	box-shadow: -10px 10px 20px black;
		-moz-box-shadow: -10px 10px 20px black;
		-webkit-box-shadow: -10px 10px 20px black;
		-o-box-shadow: -10px 10px 20px black;
		-ms-box-shadow: -10px 10px 20px black;
}

/*************************
			MENÚ IZQUIERDA
**************************/
#cajadesplegableizq{
	position:fixed;
	opacity: 0.6;
	top:115px;
	width:80px;
	height: 345px;
	color:white;
	z-index: 50;
	left:-55px;
	box-shadow: 15px 20px 20px black;
	 -webkit-box-shadow: 15px 20px 20px black;
	 -moz-box-shadow: 15px 20px 20px black;
	 -o-box-shadow: 15px 20px 20px black;
	 -ms-box-shadow: 15px 20px 20px black;
	/*Gradiente de fondo*/
	background-color: darkgray;
	background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(20%, rgba(216,225,231,1)), color-stop(45%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
	background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
	background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
	background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
	background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 20%, rgba(181,198,208,1) 45%, rgba(224,239,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
		/*Fin de gradiente de fondo*/
	border-radius: 0px 15px 15px 0px;
	-webkit-border-radius: 0px 15px 15px 0px;
	-moz-border-radius: 0px 15px 15px 0px;
	-o-border-radius: 0px 15px 15px 0px;
	-ms-border-radius: 0px 15px 15px 0px;
}
#cajadesplegableizq:hover {
	left: 0px;
	opacity: 1;
	transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-webkit-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
}
.alldesplegablesizq{
	width: 110px;
	z-index: 12;
	left:5px;
	opacity: 1;
}
.alldesplegablesizq:hover{
	width:130px;
	left:15px;
}
.comundesplegableizqimagenes{
	width: 70px;
	box-shadow: 3px 5px 5px black;
		-webkit-box-shadow: 3px 5px 5px black;
		-moz-box-shadow: 3px 5px 5px black;
		-o-box-shadow: 3px 5px 5px black;
		-ms-box-shadow: 3px 5px 5px black;
	margin-top: 8px;
	opacity: 1;
}
.comundesplegableizqimagenes:hover{
	width: 90px;
	margin-left: 15px;
	cursor: pointer;
	transition-duration: 0.5s;
	transform:rotate(15deg) scale(1);
		-moz-transform:rotate(15deg) scale(1);
		-webkit-transform:rotate(15deg) scale(1);
		-o-transform:rotate(15deg) scale(1);
		-ms-transform:rotate(15deg) scale(1);
}
.desplegableletras{
	position: absolute;
	background-color: white;
	left: 90px;
	padding-top: 1px;
	padding-bottom: 4px;
	padding-left:8px;
	padding-right: 8px;
	width: auto;
	height: 20px;
	color:black;
	text-align: center;
	font-family: fantasy;
	font-style: oblique;
	font-size: 18px;
	border: 3px solid orange;
	border-radius: 10px 10px 10px 10px;
	opacity: 0;
	transition-delay: 0.2s;
	transform:rotate(5deg) scale(1);
		-moz-transform:rotate(5deg) scale(1);
		-webkit-transform:rotate(5deg) scale(1);
		-o-transform:rotate(5deg) scale(1);
		-ms-transform:rotate(5deg) scale(1);
}
