#cajacontenido {
	display: block;
	margin: 50px auto 15px auto;
	min-width: 380px;
	max-width: 1200px;
	align-content: center;
	align-items: center;
	text-align: center;
	vertical-align: top;
}
#contenido {
	display: inline-table;
	margin: auto;
	width: 63%;
	height: 100%;
	border: 10px solid transparent;
	border-image-width: 10px;
	border-image: url("../images/temporal/bitmap.png") 50 stretch;
		-moz-border-image: url("../images/temporal/bitmap.png") 50 stretch;
		-webkit-border-image: url("../images/temporal/bitmap.png") 50 stretch;
		-o-border-image: url("../images/temporal/bitmap.png") 50 stretch;
	background-color: white;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		-ms-border-radius: 20px;
}
