/*Tonos de colores de fondo:
#013CCC
#7F92BF
#1BD5FF
#FF905B
#CC2501
*/


@CHARSET "UTF-8";

/*--------------------------------FUENTES internas--------------------*/
@font-face {font-family:lobster;
src: url(../TTF/Lobster.ttf) format("opentype");}
@font-face {font-family:fairydust;
src: url(../TTF/Fairydust.ttf) format("opentype");}
@font-face {font-family:orial_bold;
src: url(../TTF/Orial_bold.otf) format("opentype");}
@font-face {font-family:makejuice;
src: url(../TTF/Makejuice.ttf) format("opentype");}

/*--------------------------------Estilos generales-------------------*/
body {
	margin:0px;
	padding:0px;
	font-family: Fairydust;
	background-color: black;
}

A {
	position: relative;
	margin: auto;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 3px 3px 3px black;
}

IMG {
	position: relative;
	margin: auto;
	width: 100%;
}

HEADER {
	position: relative;
	margin: auto;
	min-width:80%;
	font-size: 25px;
	align-content: center;
	text-align: center;
}

H1, H2, H3, H4, H5, H6 {
	color: red;
}

H1 {

}
H2 {

}
H3 {

}

#desplegarporque {
	position: fixed;
	width: 80px;
	height: 40px;
	top: 0;
	left: 0;
	text-align: center;
	vertical-align: middle;
	align-content: center;
	background-color: ghostwhite;
	display: block;
	border-bottom-right-radius: 40px;
	z-index: 51;
}
#desplegarmenu {
	position: fixed;
	width: 80px;
	height: 40px;
	top: 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
	align-content: center;
	background-color: ghostwhite;
	display: block;
	border-bottom-left-radius: 40px;
	z-index: 51;
}

#cajamenusuperior {
	top: -18px;
	position: fixed;
	width: 100%;
	z-index: 50;
	display: none;
}

#menu {
	width: 260px;
	height: 20px;
	margin: auto;
	color: aliceblue;
}
#menu UL LI {
	display: inline-block;
	padding: 5px;
}
#menu UL LI:hover {
	color: #1BD5FF;
	cursor: pointer;
}
#menu UL LI A {
	font-size: 16px;
}
#menusuperior {
	position: relative;
	margin: auto;
	width: 90%;
	align-content: center;
	text-align: center;
	background-color: #7F92BF;
	box-shadow: 5px 5px 45px black;
       -webkit-box-shadow: 5px 5px 45px black;
       -moz-box-shadow: 5px 5px 45px black;
       -o-box-shadow: 5px 5px 45px black;
       -ms-box-shadow: 5px 5px 45px black;
	display:none;
}

#menusuperior UL LI {
	display: inline-block;
	margin: 2px 0px 2px 0px;
	padding: 1px 6px 1px 6px;
	font-style: oblique;
	color: #013CCC;
	background-color: #FF905B;
	text-shadow: 3px 3px 3px #CC2501;
	text-align: center;
	align-content: center;
	border: 1px solid black;
	border-right: none;
	box-shadow: 5px 5px 45px #1BD5FF;
       -webkit-box-shadow: 5px 5px 45px #1BD5FF;
       -moz-box-shadow: 5px 5px 45px #1BD5FF;
       -o-box-shadow: 5px 5px 45px #1BD5FF;
       -ms-box-shadow: 5px 5px 45px #1BD5FF;
	cursor: pointer;
}

#menusuperior UL :hover{
	background-color: #013CCC;
	color: whitesmoke;
	box-shadow: 10px 10px 35px #013CCC;
       -webkit-box-shadow: 10px 10px 35px #013CCC;
       -moz-box-shadow: 10px 10px 35px #013CCC;
       -o-box-shadow: 10px 10px 35px #013CCC;
       -ms-box-shadow: 10px 10px 35px #013CCC;
}
#menusuperior UL LI A P IMG {
	width: 80px;
	height: 80px;
}

/*------------------TÍTULO----------------------->*/
#titulos *{
	text-shadow: 10px 10px 35px #013CCC;
       -webkit-text-shadow: 10px 10px 35px #013CCC;
       -moz-text-shadow: 10px 10px 35px #013CCC;
       -o-text-shadow: 10px 10px 35px #013CCC;
       -ms-text-shadow: 10px 10px 35px #013CCC;
}
#titulos H1 {
	color: aliceblue;
}
#titulos H2 {
	color: #7F92BF;
}
#titulos P {
	color: #1BD5FF;
}

/*Carrusel de imagenes*/
#cajacarrusel {
	position: relative;
	top: 30px;
	margin: auto;
	align-content: center;
	text-align: center;
	vertical-align: middle;
	min-width: 380px;
	max-width: 900px;
	max-height: 650px;
	background-color: red;
	z-index: 1;
}
#cajaestilosimagen {
	position: absolute;
	width: 100%;
	height: 40px;
	margin: auto;
	top: 30px;
	background-color: gray;
	z-index: 3;
	transition: 1.3s;
	opacity: 0.1;
}
#estilosimagen {
	position: relative;
	width: 170px;
	height: 100%;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	align-content: center;

}
.todoslosefectos {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	background-color: green;
	margin: 3px;
	border: 3px solid gray;
	opacity: 0.6;
}
.todoslosefectos:hover {
	background-color: yellow;
	opacity: 1;
}
#cajaflechaizq {
	position: absolute;
	width: 50px;
	height: 100%;
	left: 0;
	vertical-align: middle;
	align-content: center;
	text-align: center;
	background-color: #49739A;
	z-index: 4;
	transition: 1s;
	visibility: hidden;
}
#flechaizq {
	position: relative;
	width: 50px;
	height: 60px;
	margin: auto;
	top: 45%;
	background-image: url("../images/botones/flechaizq.png");
	background-repeat: no-repeat;
}
#flechaizq:hover {
	background-image: url("../images/botones/flechaizqhover.png");
}
#cajaflechadrh {
	position: absolute;
	width: 50px;
	height: 100%;
	right: 0px;
	vertical-align: middle;
	align-content: center;
	text-align: center;
	background-color: #49739A;
	z-index: 4;
	transition: 1s;
	visibility: hidden;
}
#flechadrh {
	position: relative;
	width: 50px;
	height: 60px;
	margin: auto;
	top: 45%;
	background-image: url(../images/botones/flechadrh.png);
	background-repeat: no-repeat;
	background-position: right
}
#flechadrh:hover {
	background-image: url("../images/botones/flechadrhhover.png");
}
#carruselsuperior {
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	background-image: url("../images/temporal/film.jpg");
	background-repeat: no-repeat;
	background-size:  100% 30px;
	background-position: bottom;
	z-index: 5;
}
#carruselinferior {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-image: url("../images/temporal/film.jpg");
	background-repeat: no-repeat;
	background-size:  100% 30px;
	background-position: bottom;
	z-index: 5;
}

#fondoimagen {
	top:0px;
	left: 0px;
	min-width: 380px;
	max-width: 1200px;
	max-height: 650px;
	z-index: 1;
}

#super_carrusel {
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 4;
}

#centrarimagenactual {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	max-height: 650px;
	height: 100%;
	align-content: center;
	vertical-align: middle;
	text-align: center;
	background-color: black;
}

#imagenactual {
	position: relative;
	width: auto;
	height: 100%;
	z-index: 2;
	opacity: 0.7;
	box-shadow: -10px 10px 20px black;
		-moz-box-shadow: -10px 10px 20px black;
		-webkit-box-shadow: -10px 10px 20px black;
		-o-box-shadow: -10px 10px 20px black;
		-ms-box-shadow: -10px 10px 20px black;
}

/*-------------------Contenido estilo BLOG*/
#cajacontenido {
	top: 140px;
	position: relative;
	margin:auto;
	min-width: 380px;
	max-width: 1200px;
	background-color: red;
	align-content: center;
	text-align: center;
}

#contenido {
	position: relative;
	float: left;
	width: 63%;
	border: 10px solid transparent;
	border-image-width: 10px;
	border-image: url("../images/temporal/bitmap.png") 50 stretch;
		-moz-border-image: url("../images/temporal/bitmap.png") 50 stretch;
		-webkit-border-image: url("../images/temporal/bitmap.png") 50 stretch;
		-o-border-image: url("../images/temporal/bitmap.png") 50 stretch;
	background-color: white;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		-ms-border-radius: 20px;
}

#barraderecha {
	position: relative;
	float: right;
	background-color: #1BD5FF;
	width: 26%;
	border: 10px solid transparent;
	border-image-width: 10px;
	border-image: url("../images/temporal/lava.png") 50 stretch;
		-moz-border-image: url("../images/temporal/lava.png") 50 stretch;
		-webkit-border-image: url("../images/temporal/lava.png") 50 stretch;
		-o-border-image: url("../images/temporal/lava.png") 50 stretch;
	background-color: gray;
}


/*---------------------------Subir al comienzo de la página---*/
	#subir {
		position: fixed;
		width: 60px;
		height: 130px;
		bottom: 12px;
		right: 12px;
		padding: 5px;
		opacity: 0.4;
		cursor: pointer;
		background-image: url(../images/flecha.png);
		background-repeat: no-repeat;
		background-size: 100%;
		border-radius: 20px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-o-border-radius: 20px;
			-ms-border-radius: 20px;
		z-index: 20;
	}
	#subir:hover {
		opacity: 1;
		background-color: dodgerblue;
	}



