#titulos {
	top: 30px;
}
#titulos *{
	text-shadow: 1px 1px 8px white,
		1px -1px 8px white,
		-1px 1px 8px white,
		-1px -1px 8px white;
}
#titulos H1 {
	color: #CFAB62;
}
#titulos H2 {
	color: #CFAB62;
}
#titulos P {
	padding: 3px;
	font-size: 1.3em;
	color: #1BD5FF;
	border-top: 3px solid #CFAB62;
	border-bottom: 3px solid #CFAB62;
	box-shadow: -6px 3px 22px #CFAB62,
		3px -2px 22px #CFAB62;
	background-color: white;
/*Degradado de fondo*/
	background: rgba(0,0,0,1);
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,0,1)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
