/*************************
Estilos para más de 981px
**************************/



/*************************
        CONTENIDO
**************************/
#cajaContenido {
	padding: 10px 0;
	width: 100%;
	background-color: lightgrey;
	text-align: center;
}
#cajaContenido SECTION {
	margin: auto;
	max-width: 1200px;
}

#cajaContenido SECTION > ARTICLE {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	width: 270px;
	height: 300px;
	vertical-align: top;
	background-color: lightslategrey;
	border: 3px groove green;
}
#cajaContenido SECTION > ARTICLE:hover {
	background-color: floralwhite;
}
#cajaContenido SECTION > ARTICLE > A {
	text-decoration: none;
	color: yellowgreen;
}
#cajaContenido SECTION > ARTICLE > A:hover  {
	color: red;
}
#cajaContenido LI {
	list-style: none;
	text-align: left;
}