/*************************
    ESTILOS GENERALES
**************************/

/*
-Colores para el tema:
	·Morado --> #493B4C
	·Azul Oscuro --> #1D415B
	·Rojo Claro --> #C73935
	·Amarillo Oscuro --> #E69215
*/

* {
	margin: 0;
	padding: 0;
}


BODY {
	background-image: url("../images/fondo.png");
}

/*
----------------------------------
Títulos
----------------------------------
*/
H1, H2, H3, H4, H5, H6 {
	
}

H1 {
	
}

H2 {
	
}

H3 {
	
}

/*
----------------------------------
Bloques --> DIV y P
----------------------------------
*/
DIV {
	
}

P {
	
}


/*************************
        Menú Principal
**************************/

#menuPrincipal {
	margin-top: 20px;
	margin-bottom: 0;
	background-color:#1D415B;
	border-top: 3px #E69215 solid;
	text-align: center;
}
#menuPrincipal DIV P {

}
#menuPrincipal DIV UL {
	margin-top: 0;
}
#menuPrincipal DIV LI {
	padding: 3px 5px;
	font-weight: bold;
	color: white;
	list-style: none;
}
#menuPrincipal DIV LI:hover {
	cursor: pointer;
	color: black;
	background-color: #C73935;
}

/*************************
        TÍTULO
**************************/
#cajaTitulo {
	box-sizing: border-box;
	padding: 10px 8px;
	background-color: white;
}
#cajaTitulo H1 {

}
#cajaTitulo P {

}
#cajaTitulo H2 {

}

/*************************
        CONTENIDO
**************************/
#cajaContenido {

}
#cajaContenido SECTION {

}

#cajaContenido SECTION > ARTICLE {

}
#cajaContenido SECTION > ARTICLE:hover {

}
#cajaContenido SECTION > ARTICLE > A {

}
#cajaContenido SECTION > ARTICLE > A:hover  {

}
#cajaContenido LI {

}

/*************************
          FOOTER
**************************/
FOOTER {

}
FOOTER ADDRESS {

}