/*************************
    ESTILOS GENERALES
**************************/

/*
* {
	margin: 0;
	padding: 0;
}
*/

BODY {
	background-image: url("../images/fondo.png");
}

/*
----------------------------------
Títulos
----------------------------------
*/
H1, H2, H3, H4, H5, H6 {
	
}

H1 {
	
}

H2 {
	
}

H3 {
	
}

/*
----------------------------------
Bloques --> DIV y P
----------------------------------
*/
DIV {
	
}

P {
	
}


/*************************
        Menú Principal
**************************/

#menuPrincipal {
	margin-top: 20px;
	background-color:grey;
	border-top: 3px orange solid;
}
#menuPrincipal DIV P {

}
#menuPrincipal DIV UL {

}
#menuPrincipal DIV LI {

}
#menuPrincipal DIV LI:hover {

}

/*************************
        TÍTULO
**************************/
#cajaTitulo {

}
#cajaTitulo H1 {

}
#cajaTitulo P {

}
#cajaTitulo H2 {

}

/*************************
        CONTENIDO
**************************/
#cajaContenido {

}
#cajaContenido SECTION {

}

#cajaContenido SECTION > ARTICLE {

}
#cajaContenido SECTION > ARTICLE:hover {

}
#cajaContenido SECTION > ARTICLE > A {

}
#cajaContenido SECTION > ARTICLE > A:hover  {

}
#cajaContenido LI {

}

/*************************
          FOOTER
**************************/
FOOTER {

}
FOOTER ADDRESS {

}